.quiz {
  outline: 1px solid var(--mauve-6);
  border-radius: var(--radius-2);
  padding: var(--space-2);
  &:hover {
    outline-color: var(--focus-8);
    outline-width: 2px;
    cursor: pointer;
  }
}