.sliderLabels > * {
    width: 10px;
    text-align: center;
    user-select: none;

    &:not(.disabled) {
        font-weight: bold;
        cursor: pointer;
    }

    &.disabled {
        color: var(--gray-8);
    }
}
