html, body {
  margin: 0;
}

#root  {
  background-image: url("/assets/background.svg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding: var(--space-4);
}

.main-container {
  background-color: var(--color-background);
  border-radius: var(--radius-5);
  box-shadow: var(--shadow-4);
  padding: var(--space-5);
}

.global-spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  background: var(--white-a9);
  border-radius: var(--radius-5);
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  > .rt-Spinner {
    width: 32px;
    height: 32px;
  }
}

@media (max-width:480px) {
  .main {
    padding: var(--space-2);
  }

  .main-container {
    padding: var(--space-3);
  }
}